.header {
    background-color: #00264b;
    padding: 10px;
    text-align: center;
}
body {
margin: 0;
}

.home {
margin: 50px;
}
.tituloHome {
    position: inline-block;
}
.BtnAdicionar {
    margin: 100px;
}

.Links {
    margin: 50px;
}

